src/Bradesco.Emprestimos/EmprestimoPessoaFisica/Connected Services/ContaCorrenteServiceReference/ContaCorrenteService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:50565/ContaCorrente/ContaCorrenteService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="http://localhost:50565/ContaCorrente/ContaCorrenteService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ContaCorrenteServiceService.ContaCorrente" />
  <xs:element name="Get">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="IdContaCorrente" type="q1:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ContaCorrenteServiceService.ContaCorrente" minOccurs="0" name="GetResult" nillable="true" type="q2:ContaCorrente" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>